@model List<ToDoList.Project.UI.Models.Contact>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @*@foreach (var item in Model)
    {
        <h3>@item.FirstName</h3>
        <h3>@item.LastName</h3>
        <h3>@item.Phone</h3>
        <h3>@item.Email</h3>
        <h3>@item.Id</h3>
    }*@

</div>

